MONGODB_URI=mongodb+srv://<usuario>:<senha>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
PORT=3001

# Limites anti-bloqueio
DELAY_MIN_SEGUNDOS=45
DELAY_MAX_SEGUNDOS=180
LIMITE_DIARIO=50
PAUSA_A_CADA=10
PAUSA_MINUTOS=15
